@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}
.grid_container{
    display: grid;
    grid-template-columns: 550px 400px;
    /* border: 1px solid black; */
    max-width: 900px;
}
.text_box{
    padding: 90px;
    padding-top: 50px;
    background: url(images/bg-pattern-desktop.svg);
}
span{
    display: block;
    font-weight: 600;
}
.header_box{
    margin: 80px 0 30px 0;
}
p, h1{
    color: hsl(0, 36%, 70%);
}
h1{
    letter-spacing: 10px;
    font-weight: 300;
}
.header_box h1 span{
    color: hsl(0, 6%, 24%);
    margin-top: 5px;
}
p{
    line-height: 25px;
    font-size: 13px;
}
form input:nth-child(1){
    width: 90%;
    outline: none;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
}
form{
    position: relative;
}
form input:nth-child(2){
    padding: 16px 20px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 25px;
    border: none;
    outline: none;
    position: absolute;
    right: 2px;
    cursor: pointer;
    width: 80px;
    top: 0;
}
form input:nth-child(2):hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
::placeholder{
    color: hsl(0, 36%, 70%);
}
form img{
    /* border: 1px solid black; */
    position: absolute;
    top: 15px;
    right: 30px;
}