@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 30px;
}
.grid_container{
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 550px 400px;
    /* border: 1px solid black; */
    max-width: 900px;
}
.text_box{
    padding: 90px;
    padding-top: 50px;
    background: url(images/bg-pattern-desktop.svg);
}
span{
    display: block;
    font-weight: 600;
}
.header_box{
    margin: 80px 0 30px 0;
}
p, h1{
    color: hsl(0, 36%, 70%);
}
h1{
    letter-spacing: 10px;
    font-weight: 300;
}
.header_box h1 span{
    color: hsl(0, 6%, 24%);
    margin-top: 5px;
}
p{
    line-height: 25px;
    font-size: 13px;
}
form input:nth-child(1){
    width: 90%;
    outline: none;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
}
form{
    position: relative;
}
form input:nth-child(2){
    padding: 16px 20px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 25px;
    border: none;
    outline: none;
    position: absolute;
    right: 2px;
    cursor: pointer;
    width: 80px;
    top: 0px;
}
form input:nth-child(2):hover{
    box-shadow: 0 10px 10px hsla(0, 74%, 74%, 0.5);
}
::placeholder{
    color: hsl(0, 36%, 70%);
}
form img{
    /* border: 1px solid black; */
    position: absolute;
    top: 15px;
    right: 30px;
}
picture{
    width: 100%;
}
.mobile_hero_hidden{
    display: none;
}
form .error_icon{
    display: none;
}
form.error .error_icon{
    display: block;
}
form.error #email{
    border: 3px solid hsl(0, 93%, 68%);
}
small{
    display: none;
}
form.error small {
	display: block;
}
.error_icon{
    right: 100px;
    top: 12px;
}
small{
    padding: 10px;
    color: hsl(0, 36%, 70%);
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .grid_container{
        grid-template-columns: 500px;
        /* max-width: 500px; */
    }
}
@media only screen and (max-width: 599px){
    .grid_container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .pic_box{
        display: none;
    }
    .mobile_hero_hidden{
        display: block;
    }
    .text_box{
        padding: 0;
    }
    .text_box img:nth-child(1){
        /* border: 1px solid black; */
        margin: 30px 0;
    }
    .header_box{
        text-align: center;
    }
    .text_box p{
        text-align: center;
    }
    form{
        /* margin-top: 30px; */
        padding: 30px;
    }
    form input:nth-child(2){
        width: 60px;
        right: 30px;
        top: 30px;
    }
    .para_box{
        padding: 0 30px;
    }
    form img{
        position: absolute;
        top: 40px;
        right: 50px;
    }
    form input:nth-child(1){
        width: 100%;
    }
}